[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=Crashes
X-KDE-PluginInfo-Author=Alexander Kellett
X-KDE-PluginInfo-Email=lypanov@kde.org
X-KDE-PluginInfo-Name=Crashes
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Crashes Monitor
Name[ar]=مراقب الإنهيارات
Name[bg]=Наблюдение на сривовете
Name[ca]=Monitor de fallades
Name[cs]=Monitor pádů
Name[da]=Sammenbrudsovervåger
Name[de]=Absturzmonitor
Name[el]=Επόπτης καταρρεύσεων
Name[en_GB]=Crashes Monitor
Name[es]=Cuelgue del monitor
Name[et]=Krahhide jälgija
Name[eu]=Kraskadura begiralea
Name[fi]=Kaatumisvalvoja
Name[fr]=Surveillance de plantage
Name[ga]=Monatóir Tuairteanna
Name[gl]=Vixilante de peches inesperados
Name[hne]=क्रैस मानीटर
Name[it]=Monitor dei crash
Name[ja]=クラッシュモニタ
Name[km]=កម្មវិធី​ត្រួត​ពិនិត្យ​ការ​គាំង
Name[ko]=충돌 모니터
Name[ku]=Temaşekerê Têkçûnan
Name[lt]=Lūžimų stebėjimo priemonė
Name[lv]=Avāriju novērotājs
Name[nb]=Krasjovervåker
Name[nds]=Afstörten-Kieker
Name[nl]=Crash-monitor
Name[nn]=Krasjovervaking
Name[pa]=ਕਰੈਸ਼ ਮਾਨੀਟਰ
Name[pl]=Monitor awarii
Name[pt]=Monitor de Estoiros
Name[pt_BR]=Monitor de travamentos
Name[ro]=Monitor prăbușiri
Name[ru]=Монитор сбоев
Name[sk]=Monitor pádov
Name[sr]=Надгледање падова
Name[sr@latin]=Nadgledanje padova
Name[sv]=Kraschövervakare
Name[tg]=Намоишгари нуқсонҳо
Name[th]=ติดตามข้อขัดข้องในการทำงาน
Name[tr]=Çökme İzleyici
Name[uk]=Монітор аварій
Name[x-test]=xxCrashes Monitorxx
Name[zh_CN]=崩溃监视器
Name[zh_TW]=當機監視器
Comment=Records instances of crashes for easier recovery
Comment[ar]=تسجل نسخ الإنهيارات لإسترجاع سهل
Comment[bg]=Записване на сривовете с цел по-лесно възстановяване
Comment[ca]=Registra les instàncies de les fallades per a una recuperació més senzilla
Comment[cs]=Zaznamená instance pádů pro snazší zotavení
Comment[da]=Optager tilfælde af sammenbrud for at lette genskabning.
Comment[de]=Protokolliert Abstürze zur leichteren Fehlersuche
Comment[el]=Καταγραφή στοιχείων κατάρρευσης για πιο εύκολη επαναφορά
Comment[en_GB]=Records instances of crashes for easier recovery
Comment[es]=Graba instancias del cuelgue del monitor para conseguir una recuperación sencilla
Comment[et]=Salvestab krahhid probleemide hõlpsamaks lahendamiseks
Comment[eu]=Kraskaduren instantziak grabatzen ditu errazago berreskuratzeko
Comment[fi]=Mahdollistaa sivujen takaisinavauksen selaimen kaatuessa
Comment[fr]=Enregistre les instances plantées pour une restauration plus simple
Comment[ga]=Déanann sé seo cuntas ar gach tuairt, le haghaidh athshlánaithe níos fusa
Comment[gl]=Grava as ocorrencias de peches inesperados para recuperalos sinxelamente
Comment[hne]=आसान रिकवरी बर क्रैस के घटना मन ल रिकार्ड करथे 
Comment[it]=Registra i crash per un più semplice ripristino
Comment[ja]=発生したクラッシュを記録し、復旧を容易にします
Comment[km]=ថត​វត្ថុ​គាំង​សម្រាប់​ការ​សង្គ្រោះ​ងាយស្រួល
Comment[ko]=쉬운 복구를 위해서 모든 충돌을 기록하기
Comment[ku]=Mînakên têkçûnan tomar dike ji bo rizgar kirina hêsan
Comment[lv]=Pieaksta avārijas vieglai to atgūšanai
Comment[nb]=Lagrer krasj for å gjøre gjenoppretting lettere
Comment[nds]=Teekt dat Vörkamen vun Afstörten op, maakt dat Wedderherstellen eenfacher
Comment[nl]=Neemt programma-crashes op voor eenvoudiger herstel
Comment[nn]=Lagrar krasj for å gjera gjenoppretting lettare
Comment[pa]=ਸੌਖੀ ਰਿਕਰਵੀ ਲਈ ਕਰੈਸ਼ ਹੋਏ ਭਾਗ ਰਿਕਾਰਡ ਵੇਖੋ
Comment[pl]=Zapisuje wystąpienia awarii w celu łatwiejszego odzyskania danych
Comment[pt]=Guarda as instâncias dos estoiros para uma recuperação mais fácil
Comment[pt_BR]=Guarda instâncias dos travamentos para uma recuperação mais fácil
Comment[ro]=Înregistrează instanțele de prăbușire pentru revenire mai ușoară
Comment[ru]=Записывает информацию о сбоях для легкого восстановления
Comment[sk]=Zaznamená príčiny pádov pre jednoduchšie zotavenie
Comment[sr]=Бележи падове програма ради лакшег решавања
Comment[sr@latin]=Beleži padove programa radi lakšeg rešavanja
Comment[sv]=Lagrar kraschinstanser för enklare återhämtning
Comment[tg]=Ҳисоботи нуқсонҳо барои ислоҳкунӣ
Comment[th]=บันทึกข้อขัดข้องเพื่อช่วยในการกู้คืนได้ง่ายขึ้น
Comment[tr]=Daha kolay onarım için çöküş örneği kaydeder
Comment[uk]=Записує випадки крахів для легшого відновлення
Comment[x-test]=xxRecords instances of crashes for easier recoveryxx
Comment[zh_CN]=为了更加容易地恢复，记录崩溃实例
Comment[zh_TW]=紀錄程式實體當掉的情況，以便修復
X-KDE-ParentApp=konqueror
Icon=kbugbuster
DocPath=konq-plugins/crashes/index.html
