[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Icon=metabar
Comment=A Konqueror navigation panel
Comment[ar]=لوحة تنقل الكونكيور
Comment[bg]=Навигационен панел за Konqueror
Comment[ca]=Un plafó de navegació del Konqueror
Comment[cs]=Navigační panel Konqueroru
Comment[da]=Et navigationspanel til Konqueror
Comment[de]=Ein Navigationsbereich für Konqueror
Comment[el]=Πρόσθετο πλαισίου πλοήγησης του Konqueror
Comment[en_GB]=A Konqueror navigation panel
Comment[es]=Un panel de navegación para Konqueror
Comment[et]=Konquerori liikumispaneel
Comment[eu]=Konquerorren nabigazio panel bat
Comment[fr]=Un panneau de navigation pour Konqueror
Comment[ga]=Painéal Nascleanúna Konqueror
Comment[gl]=Un panel de navegación para Konqueror
Comment[hne]=कान्करर नेविगेसन फलक
Comment[it]=Un pannello di navigazione per Konqueror
Comment[ja]=Konqueror のナビゲーションパネルの一つ
Comment[km]=បន្ទះ​ការ​រុករក Konqueror
Comment[ko]=Konqueror 탐색 패널
Comment[ku]=Panela Gerokê ya Konqueror
Comment[lv]=Konqueror navigācijas panelis
Comment[nb]=Et navigasjonspanel for Konqueror
Comment[nds]=En Sietpaneel för Konqueror
Comment[nl]=Een navigatiepaneel voor Konqueror
Comment[nn]=Eit navigasjonspanel til Konqueror
Comment[pa]=ਇੱਕ ਕੋਨਕਿਊਰੋਰ ਨੇਵੀਗੇਸ਼ਨ ਪੈਨਲ
Comment[pl]=Panel nawigacyjny Konquerora
Comment[pt]=Um painel de navegação do Konqueror
Comment[pt_BR]=Um painel de navegação do Konqueror
Comment[ro]=Un panou de navigare pentru Konqueror
Comment[ru]=Панель навигации Konqueror
Comment[sk]=Navigačný panel Konqueroru
Comment[sr]=К‑освајачев навигациони панел
Comment[sr@latin]=K‑osvajačev navigacioni panel
Comment[sv]=En navigeringspanel för Konqueror
Comment[tg]=Панели идоракунии Konqueror
Comment[th]=ถาดพาเนลช่วยนำทางของคอนเควอร์เรอร์
Comment[tr]=Konqueror için bir dolaşma paneli
Comment[uk]=Панель навігації Konqueror
Comment[x-test]=xxA Konqueror navigation panelxx
Comment[zh_CN]=Konqueror 导航面板
Comment[zh_TW]=Konqueror 導覽面板
Name=Metabar
Name[ar]=شريط البيانات الوصفية
Name[bg]=Мета-лента
Name[ca]=Metabar
Name[cs]=Metabar
Name[da]=Metabar
Name[de]=Metabar
Name[el]=Γραμμή μεταδεδομένων
Name[en_GB]=Metabar
Name[es]=Metabarra
Name[et]=Metabar
Name[eu]=Metabarra
Name[fr]=Metabar
Name[ga]=Metabar
Name[gl]=Metabar
Name[hne]=मेटाबार
Name[it]=Metabar
Name[ja]=メタバー
Name[km]=របារ​មេតា
Name[ko]=Metabar
Name[ku]=Metabar
Name[lt]=Metabar
Name[lv]=Metabar
Name[nb]=Metastolpe
Name[nds]=Metabar
Name[nl]=Metabalk
Name[nn]=Metastolpe
Name[pa]=ਮੇਟਾਬਾਰ
Name[pl]=Metabar
Name[pt]=Metabar
Name[pt_BR]=Meta-barra
Name[ro]=Metabară
Name[ru]=Панель метаданных
Name[sk]=Metabar
Name[sr]=Метатрака
Name[sr@latin]=Metatraka
Name[sv]=Metarad
Name[tg]=Metabar
Name[th]=แถบกำกับ
Name[tr]=Metabar
Name[uk]=Метапанель
Name[x-test]=xxMetabarxx
Name[zh_CN]=元数据栏
Name[zh_TW]=中繼列

Open=false
X-KDE-KonqSidebarModule=konqsidebar_metabar

