[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Icon=package-multimedia
Name=Media Player
Name[ar]=مشغَل الوسائط
Name[be]=Медыяпрайгравальнік
Name[bg]=Мултимедиен плеър
Name[ca]=Reproductor Multimèdia
Name[cs]=Přehrávač médií
Name[da]=Medieafspiller
Name[de]=Medienwiedergabe
Name[el]=Αναπαραγωγέας μέσων
Name[en_GB]=Media Player
Name[es]=Reproductor de medios
Name[et]=Meediafailide mängija
Name[eu]=Euskarri jotzailea
Name[fi]=Mediasoitin
Name[fr]=Lecteur multimédia
Name[ga]=Seinnteoir Meán
Name[gl]=Reprodutor multimedia
Name[hne]=मीडिया-प्लेयर
Name[is]=Margmiðlunarspilari
Name[it]=Lettore multimediale
Name[ja]=メディアプレーヤー
Name[km]=កម្មវិធី​ចាក់​មេឌៀ
Name[ko]=미디어 재생기
Name[ku]=Lêdarê Medya
Name[lt]=Media grotuvas
Name[lv]=Multivides atskaņotājs
Name[mai]=मीडिया-प्लेयर
Name[nb]=Mediespiller
Name[nds]=Afspeler
Name[nl]=Mediaspeler
Name[nn]=Mediespelar
Name[oc]=Media Player
Name[pa]=ਮੀਡਿਆ ਪਲੇਅਰ
Name[pl]=Odtwarzacz multimedialny
Name[pt]=Reprodutor Multimédia
Name[pt_BR]=Reprodutor de mídia
Name[ro]=Player multimedia
Name[ru]=Проигрыватель
Name[sk]=Prehrávač médií
Name[sr]=Медија плејер
Name[sr@latin]=Medija plejer
Name[sv]=Mediaspelare
Name[tg]=Плеери Медиа
Name[th]=เครื่องเล่นสื่อ
Name[tr]=Çokluortam Oynatıcı
Name[uk]=Медіапрогравач
Name[x-test]=xxMedia Playerxx
Name[zh_CN]=媒体播放器
Name[zh_TW]=媒體播放器
Comment=Media player for Konqueror's navigation panel
Comment[bg]=Мултимедиен плеър за навигационния панел
Comment[cs]=Přehrávač multimédií pro navigační panel Konqueroru
Comment[da]=Medieafspiller til Konquerors navigationspanel
Comment[de]=Medienwiedergabe-Modul im Navigationsbereich von Konqueror
Comment[el]=Πρόσθετο αναπαραγωγέα μέσων στο πλαίσιο πλοήγησης του Konqueror
Comment[en_GB]=Media player for Konqueror's navigation panel
Comment[es]=Reproductor de medios para el panel de navegación de Konqueror
Comment[et]=Konquerori liikumispaneeli meediafailide mängija
Comment[fr]=Lecteur multimédia dans le panneau de navigation de Konqueror
Comment[ga]=Breiseán Mediaplayer i bpainéal nascleanúna Konqueror
Comment[gl]=Un reprodutor multimedia para o panel de navegación de Konqueror
Comment[it]=Lettore multimediale per il pannello di navigazione di Konqueror
Comment[ja]=Konqueror のナビゲーションパネル内のメディアプレーヤー
Comment[km]=កម្មវិធី​ចាក់​មេឌៀ​សម្រាប់​បន្ទះ​ការ​រុករក​របស់ Konqueror
Comment[ko]=Konqueror의 탐색 패널을 위한 미디어 재생기
Comment[nb]=Mediespiller for Konquerors navigasjonspanel
Comment[nds]=Afspeler för Konqueror sien Sietpaneel
Comment[nl]=Mediaspeler voor het navigatiepaneel van Konqueror
Comment[nn]=Mediespelar til navigasjonspanelet i Konqueror
Comment[pa]=ਕੋਨਕਿਊਰੋਰ ਦੇ ਨੇਵੀਗੇਸ਼ਨ ਪੈਨਲ ਵਿੱਚ ਮੀਡਿਆ-ਪਲੇਅਰ ਵੇਖੋ
Comment[pt]=Um 'plugin' de reprodução multimédia no painel de navegação do Konqueror
Comment[pt_BR]=Reprodutor de mídia para o painel de navegação do Konqueror
Comment[ro]=Player multimedia pentru panoul de navigare al lui Konqueror
Comment[ru]=Проигрыватель для панели навигации Konqueror
Comment[sr]=Медија плејер за навигациони панел К‑освајача
Comment[sr@latin]=Medija plejer za navigacioni panel K‑osvajača
Comment[sv]=Mediaspelare för Konquerors navigeringspanel
Comment[tg]=Плеери медаи барои панели идоракунии Konqueror
Comment[tr]=Konqueror dolaşma paneli için Çokluortam Oynatıcı
Comment[uk]=Медіапрогравач для панелі навігації Konqueror
Comment[x-test]=xxMedia player for Konqueror's navigation panelxx
Comment[zh_CN]=Konqueror 导航面板中的媒体播放器
Comment[zh_TW]=Konqueror 的導覽面板中的媒體播放器

Open=false
X-KDE-KonqSidebarAddModule=konqsidebar_mediaplayer
X-KDE-KonqSidebarUniversal=true
