[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,media/cdrom_mounted,media/cdwriter_mounted,media/dvd_mounted,media/floppy5_mounted,media/floppy_mounted,media/hdd_mounted,media/nfs_mounted,media/smb_mounted,media/removable_mounted,media/zip_mounted
Actions=MediaRealFolder;
X-KDE-Priority=TopLevel
X-KDE-MediaNotifierHide=true

[Desktop Action MediaRealFolder]
Name=Open Medium Folder
Name[ar]=افتح مجلد الوسيط
Name[bg]=Отваряне директории на медии
Name[ca]=Obre la carpeta d'un suport
Name[cs]=Otevřít složku s médii
Name[da]=Åben medie
Name[de]=Systemordner des Mediums öffnen
Name[el]=Άνοιγμα του φακέλου συστήματος του μέσου
Name[en_GB]=Open Medium Folder
Name[es]=Abrir carpeta de medios
Name[et]=Ava andmekandja kataloog
Name[eu]=Euskarri karpeta ireki
Name[fr]=Ouvrir un médium
Name[ga]=Oscail Fillteán Meáin
Name[gl]=Abrir o cartafol do medio
Name[hne]=मीडियम फोल्डर खोलव
Name[it]=Apri la cartella del supporto
Name[ja]=メディアフォルダを開く
Name[km]=បើក​ថត​ឧបករណ៍​ផ្ទុក
Name[ko]=미디어 폴더 열기
Name[ku]=Peldanka Derdorê Veke
Name[lv]=Atvērt datu nesēja mapi
Name[nb]=Åpne mediemappe
Name[nds]=Mediumorner opmaken
Name[nl]=Mediummap openen
Name[nn]=Opna mediemappe
Name[pa]=ਮੀਡਿਅਮ ਫੋਲਡਰ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz folder nośnika
Name[pt]=Abrir a Pasta do Dispositivo
Name[pt_BR]=Abrir a pasta de mídia
Name[ro]=Deschide director de mediu
Name[ru]=Открыть папку носителя
Name[sk]=Otvoriť priečinok s médiami
Name[sr]=Отвори фасциклу медија
Name[sr@latin]=Otvori fasciklu medija
Name[sv]=Öppna mediumkatalog
Name[tg]=Кушодани каталоги диск
Name[th]=เปิดโฟลเดอร์เก็บสื่อต่าง ๆ
Name[tr]=Ortam Dizinini Aç
Name[uk]=Відкрити теку носія
Name[x-test]=xxOpen Medium Folderxx
Name[zh_CN]=打开媒体文件夹
Name[zh_TW]=開啟媒體資料夾
Comment=Opens the folder for a specific medium in the file manager
Comment[ar]=تفتح المجلد لوسيط معين في  مدير الملفات
Comment[bg]=Отваряне директориите за различни външни носители
Comment[ca]=Obre la carpeta per a un suport específic en el gestor de fitxers
Comment[cs]=Otevře složku pro specifické médium v souborovém manažeru
Comment[da]=Åbner mappen for et specifikt medie i filhåndteringen.
Comment[de]=Öffnet den Systemordner des Mediums im Dateimanager
Comment[el]=Ανοίγει το φάκελο του καθορισμένου μέσου στον περιηγητή αρχείων
Comment[en_GB]=Opens the folder for a specific medium in the file manager
Comment[es]=Abre la carpeta de un medio específico en el gestor de archivos
Comment[et]=Avab määratud andmekandja kataloogi failihalduris
Comment[eu]=Fitxategi kudeatzailean euskarri zehatz batentzako karpeta zabaltzen du
Comment[fr]=Ouvre un médium dans le gestionnaire de fichiers
Comment[ga]=Oscail fillteán an mheáin sainithe sa bhainisteoir comhad
Comment[gl]=Abre o cartafol dun medio no xestor de ficheiros
Comment[hne]=फाइल प्रबंधक मं विसिस्ट माध्यम बर फोल्डर खोलथे 
Comment[it]=Apre la cartella di uno specifico supporto nel file manager
Comment[ja]=特定のメディアのフォルダをファイルマネージャで開きます
Comment[km]=បើក​ថត​សម្រាប់​ឧបករណ៍​ផ្ទុក​ជាក់លាក់​ក្នុង​កម្មវិធី​គ្រប់គ្រង​ឯកសារ
Comment[ko]=파일 관리자로 지정한 미디어의 폴더 열기
Comment[ku]=Peldankê ji bo derdora taybet di rêveberê pelê de vedike
Comment[lv]=Atver failu pārvaldniekā konkrētā datu nesēja saturu
Comment[nb]=Åpner mappa for et bestemt medie i filbehandleren
Comment[nds]=Maakt den Orner för en angeven Medium in den Dateipleger op
Comment[nl]=Opent de map voor een bepaald medium in de bestandsbeheerder
Comment[nn]=Opna mappa for eit valt medium i filhandsamaren
Comment[pa]=ਫਾਇਲ ਮੈਨੇਜਰ ਵਿੱਚ ਇੱਕ ਖਾਸ ਮੀਡਿਅਮ ਫੋਲਡਰ ਖੋਲ੍ਹੋ
Comment[pl]=Otwiera folder określonego nośnika w menedżerze plików
Comment[pt]=Abre a pasta de um dispositivo específico no gestor de ficheiros
Comment[pt_BR]=Abre a pasta de uma mídia específica no gerenciador de arquivos
Comment[ro]=Deschide directorul pentru un anumit mediu în managerul de fișiere
Comment[ru]=Открывает папку выбранного носителя в файловом менеджере
Comment[sk]=Otvorí zložku pre špecifické médium v súborovom manažéry
Comment[sr]=Отвара фасциклу у менаџеру фајлова за одређени медиј
Comment[sr@latin]=Otvara fasciklu u menadžeru fajlova za određeni medij
Comment[sv]=Öppnar katalogen för ett specifikt medium i filhanteraren
Comment[tg]=Кушодани каталогҳо бо дискҳои махсус дар мудири файлҳо
Comment[th]=เปิดโฟลเดอร์เก็บสื่อตามที่ระบุในเครื่องมือจัดการแฟ้ม
Comment[tr]=Belirli ortamın dizinini dosya yöneticisi ile açar
Comment[uk]=Відкриває теку для певного носія в менеджері файлів
Comment[x-test]=xxOpens the folder for a specific medium in the file managerxx
Comment[zh_CN]=在文件管理器中打开一个特定媒体的文件夹
Comment[zh_TW]=在檔案管理員中開啟特定媒體的資料夾
Exec=kio_media_realfolder %u

